body{
    background-color: #f4f4f4;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

.navbar ul li{
display: inline;
font-size: 200%;
}
.navbar ul li .col span{
    color: brown;
    font-weight: 600;
}

footer{
    background-color:#323232;
}
footer ul li .col span{
font-size: 150%;
color: #fcbf1e;
}
#copyright
{
   color: darkgreen; 
   text-align: center;
}